  <% if artist.photo.attached? %>
    <img src= <%="#{cl_image_path(artist.photo.key)}"%> alt="place" class="rounded-circle w-100">
  <% else %>
    <img src= <%= asset_path "logo.png"%> style="width:125px">
  <% end %>
  <h2><%= artist.name %></h2>
  <p><%= @artist.summary %></p>

  <h4 class="location-title"><%= artist.address ? artist.address : "test" %></h4>
   

  <% find_unique_categories(artist).each do |category| %>
    <h3 class="modern-badge"><%= category %></h3>
  <% end  %>

<h4>Review</h4>
<% if current_user.reviews.present? %>
  <%= render "bookings/reviews", review: current_user.reviews.first%>
<% else %>
  <p>No reviews yet</p>
<% end %>

